* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 230, 229);
} 

.contact-page,
.port-page,
.res-page,
footer {
    padding: 10px 0px 0px 10px;
}

.nav-item {
    font-size: 15px;
    color: black;
}

.header h1 {
    font-size: 55px;
    color: green;
    text-align: center;
    margin: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px black;
}

.pro-pic img {
    width: 12%;
    height: auto;
    border-radius: 25px; 
    border: 1px solid black;
    margin: 1%;
    filter: drop-shadow(0 0 0.75rem black);
}

.Intro h2,
.Intro p {
    color: black;
    text-align: center;
}

.Intro h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Intro p,
.Intro h3,
.my-ci h3, 
.my-ci p,
.form-name,
.form-email,
.form-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Intro h3 {
    color: green;
    text-decoration: underline;
    text-align: center;
}

.my-ci h3,
.port-page h3,
.res-page h3
 {
    color: green;
}

.my-ci p {
    color: black;
    font-size: 17px;
}

.form-name,
.form-email,
.form-message {
    color: black;
    font-size: 20px;
}

form  {
    padding: 2% 2% 0% 2%;
    border: black solid;
}

.form-submit-btn {
    padding-top: 10px;
    color: green;
}

.res-page {
    text-align: center;
}

.res-page h3 {
    text-decoration: underline;
}

.res-page p {
   font-size: 20px;
}

footer {
    margin-top: 10%;
}
.footer p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}