* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background-color: rgb(255, 254, 254);
}

.contact-page,
.port-page,
.res-page,
.home-page,
footer {
    padding: 20px 20px 10px 20px;
}

.nav-item {
    font-size: 17px;
}

.header h1 {
    font-size: 65px;
    color: darkgreen;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(241, 237, 237);
    padding: 10px;
    font-family: 'Francois One', sans-serif;
}

.pro-pic img {
    width: 17%;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
    margin: 1%;
    filter: drop-shadow(0 0 0.75rem black);
}

.Intro h2 {
    padding-top: 10%,
}

.Intro p {
    color: black;
    text-align: center;
    margin-top: 1%;
}

.Intro p,
.Intro h3,
.my-ci h3,
.my-ci p,
.form-name,
.form-email,
.form-message,
.res-page h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.imgGrid {
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 5%;
    padding-top: 1%;
}

.imgGrid img {
    border: solid black;
    height: 200px;
    width: 90%;
    display: flex;
    opacity: 0.6;
    transition: 0.3s;
}

.imgGrid img:hover {
    opacity: 1;
}

.port-page h4 {
    padding-top: 2%;
    font-size: 20px;
}

.my-ci h2,
.port-page h2,
.res-page h2,
.Intro h2 {
    color: darkgreen;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 7px;
    font-size: 32px;
}

.my-ci p {
    color: black;
    font-size: 17px;
}

.form-name,
.form-email,
.form-message {
    color: black;
    font-size: 20px;
}

form {
    padding: 2% 2% 0% 2%;
    border: black solid;
    border-radius: 25px;
}

form input {
    padding-top: 10px;
}

.form-submit-btn {
    padding-top: 10px;
}

.error-text {
    padding-top: 10px;
    color: black;
    font-size: 20px;
}

.res-page {
    text-align: center;
}

.res-page p {
    font-size: 20px;
}

.res-page ul {
    font-size: 17px;
    padding-left: 1%;
}

.profs {
    text-align: left;
    padding-top: 3%;
    flex-wrap: wrap;
    display: grid;
    width: 60%;
    margin-left: 20%;
}

.profs h4 {
    color: white;
    font-size: 25px;
    padding-left: 1%;
    padding: 1% 0 1% 0;
    text-align: center;
    background-color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profs p {
    font-size: 17px;
    padding-left: 1%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    filter: drop-shadow(0 0 0.17rem black);
    align-items: center;
}

.flex-child:first-child {
    margin-right: 30px;
}

footer {
    margin-top: 10%;
}

.footer p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

/* Media Query for smaller viewports */
@media screen and (max-width: 600px) {
    .imgGrid {
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    .imgGrid img {
        height: auto;
        width: 100%;
    }
}